:root { 
--gray_600:#737373; 
--gray_301:#e6e6e6; 
--gray_500:#9e9e9e; 
--purple_600_83:#99388b83; 
--orange_200_83:#ffcb6b83; 
--deep_purple_500:#6651a6; 
--deep_purple_700:#584494; 
--gray_300:#e5e5e5; 
--gray_50_63:#fcfcfc63; 
--orange_200:#ffcb6b; 
--bluegray_900:#221349; 
--black_900_75:#00000075; 
--black_900:#000000; 
--yellow_800:#fdad18; 
--orange_100_f9:#ffe1a9f9; 
--deep_purple_A100:#9e84f0; 
--indigo_900:#342465; 
--black_900_19:#00000019; 
--white_A700:#ffffff; 
--black_900_26:#00000026; 
}